/* base reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    background-color: transparent;
}
body {
    background-color: #202020;
    color: gainsboro;
    overflow-x: hidden;
    font-size: 18px;
    font-family: monospace;
}

/* scroll and select */
::selection {
    background-color: coral;
    color: #202020;
}
::-webkit-scrollbar {
    background-color: transparent;
    width: 6px;
}
::-webkit-scrollbar-thumb {
    background-color: coral;
    border-radius: 10px;
}
/* login page */
.pre__login__form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}
.pre__login__form form {
    margin: 5vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 520px;
    padding: 4vh 4vw;
    box-shadow: 8px 8px 1px 1px rgb(254,254,254), -10px -10px 1px 1px coral;
    border-radius: 10px;
    gap: 10px;
}
.pre__login__form form h2 {
    font-size: 32px;
}
.pre__login__form form  p {
    font-size: 18px;
    color: rgb(168, 168, 168);
    margin: -4px 0 10px;
}
.pre__login__form form input {
    margin: 10px 0;
}
.pre__login__form  form .avatars  {
    display: flex;
    justify-content: start;
    align-items: center; flex-wrap: wrap;
    width: 100%;
    gap: 10px;
    row-gap: 10px;
}
.avatar {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 100%;
}
.avatar img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
}
.avatar input {
    position: absolute;
    border-radius: 100%;
    appearance: none;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.avatar input:focus {
    box-shadow: 4px 4px 1px 1px rgb(254,254,254), -2px -2px 1px 1px coral;
}

/* input base styles */
input {
    border: 2px solid rgb(254,254,254,.1);
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    padding: 8px 10px;
    color: gainsboro;
    font-size: 20px;
    transition: all .3s linear;
}
input:focus {
    border-color: coral;
    color: coral;
    /* box-shadow: 3px 3px 1px 1px rgb(254,254,254), -4px -4px 1px 1px coral; */
}
/* button */
.btn {
    background-color: transparent;
    border: 2px solid gainsboro;
    border-radius: 10px;
    padding: 8px 16px;
    width: 100% ;
    color: gainsboro;
    font-size: 20px;
    transition: all .3s linear;
    cursor: pointer;
}
.btn:hover {
    border-color: coral;
    color: coral;
}


/* error */
.error {
    background-color: coral;   
    padding: 6px 10px;
    border-radius: 10px;
    width: 100%;
    color: #202020;
}

/* page */
.page {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100vw;
    height: 100vh;

    overflow: hidden;
}
.page__left {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    overflow-y: scroll;
    width: 20vw;
    border-right: 2px solid rgb(254,254,254,.1);
    overflow-x: hidden;
}
.page__right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 80vw;
    height: 100vh;
}

/* profile */
.page__left__profile {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    border-bottom: 1px solid rgb(254,254,254,.1) ;
    padding: 14px 0 
}
.page__left__info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 14px
    
}
.page__left__info img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    box-shadow: 3px 3px 1px 1px rgb(254,254,254), -4px -4px 1px 1px coral;
}
.page__left__profile .btn {
    font-size: 16px;
    text-align: center;
}
.page__left__info div h3 {
    font-size: 18px;
}
.page__left__info div span {
    font-size: 14px;
}
.page__left__rooms {
    display: flex;
    justify-content: start;
    align-items: start; 
    flex-direction: column;
    margin: 6px 0 ;
    width: 100%;
    height: 45vh;
    overflow-y: scroll;
}
/* room */
.room {
    width: 100%;
    padding: 4px;
}
.room_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 4px;
    font-weight: bold;   
}
.room__user  {
    width: 100%;
    display: flex;
    justify-content:start;
    align-items: center;
    padding: 4px;
    padding-left: 10px ;
    border-radius: 10px ;
    gap: 10px;
    transition: all .3s linear;
    cursor: pointer;
}
.room__user:hover {
    background-color: rgb(254,254,254,.05);
}
.room__user img {
    width: 40px;
    height: 40px;
}

/* chat */
.page__left__chat {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}
.messages {
    overflow-y: scroll;
    background-color: rgb(254,254,254,.05);
    border-radius: 10px;
    padding: 4px;
    margin-bottom: 4px;
}
.page__left__chat__form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 10px;
    row-gap: 10px;    
}
.page__left__chat__form input {
    width: 90%;
    margin-bottom: 5px;
}
.page__left__chat__form .btn {
    width: 10%;
}